

body {
    background-image: url(https://images.unsplash.com/photo-1556075798-4825dfaaf498?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
    background-repeat: repeat;
    color: #fff;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    font-weight: 600;
}

.title {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.sub-title {
    text-decoration: underline;
    text-underline-offset: 10px;
}


.container {
    width: fit-content;
    backdrop-filter: blur(2.8px);
    padding: 10px 10px;
    display: flexbox;
    margin: 10px 10px;
    border-radius: 12px;
}

.code {
    background-color: lightgray;
    border-radius: 4px;
    color: crimson;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Menlo, Consolas, monaco, monospace;
    /*font-size: 90%;*/
  }

  .link {
    color: #fff;
    font-weight: bold;
  }

  .btn-primary {
    color: #fff;
    background-color: #238637;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s ease;
    width: auto;
  }

  .btn-primary img {
    width: 20px;
    height: auto;
    padding-right: 6px;
  }

  .btn-primary:hover {
    background-color: #2EA043;
  }

  .btn-secondary {
    color: #fff;
    background-color: #238637;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s ease;
    width: auto;
  }

  .btn-secondary:hover {
    background-color: #2EA043;
  }

  .btn-tertiary {
    color: #fff;
    background-color: #238637;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s ease;
    width: auto;
  }

  .btn-tertiary:hover {
    background-color: #2EA043;
  }